body{
    background-color: #EFEFEF;
    padding: 0px;
    margin: 0px;
    min-width: 1300px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.contenedor{
    padding: 0px;
    margin: auto;
}
/*La zona con las opciones*/
.section{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.section p{
    color: white;
}

/*Zona de la imagen*/
#inicio{
    background-image: url("foto_inicio.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100vh;
    min-width: 830px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
#inicio #texto {
    margin-bottom: 200px;
    color: black;
}
#inicio a {
    width: 20%;
    padding: 0cm;
}
#inicio button{
    width: 100%;
    background-color: black;
    font-size: 15px;
    color: azure;
}

/*Zona de la descripción*/
#cuerpo #descripcion{
    width: 70%;
    margin: auto;
}
 #descripcion .paquete{
    display: flex;
    flex-direction: row;
    max-height: 400px;
    margin-top: 50px;
}
.paquete img{
width: 40%;
}

/*-----------------------------------------------------------------------------*/
/*Segunda pagina*/
#pagina2{
    display: flex;
    flex-direction: row;
}
#perfil{
    width: 15%;

    background-color: rgba(17, 17, 17, 0.89);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    color: lightgray;

}
#opciones{
    width: 85%; 
}
#opciones .opcion {
    border-bottom: gray solid 2px ;
    width: 90%;
    margin: auto;  
    justify-items: center;
}
#opciones #busqueda{
    height: 50px;
    background-color: rgba(17, 17, 17, 0.89);
    color: #EFEFEF;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#opciones #busqueda div{
    display: flex;
    flex-direction: row;
    height: min-content;
    margin-top: 15px;
}
.opcion{

}
#opciones .titulo{
    font-size: 50px;
    margin-bottom: 50px;
}
#opciones button{
    background-color: green;
    color: aliceblue;
    font-size: 20px;
    margin-bottom: 20px;
}
/*----------------------------------------------------------------------------------------*/
/*Tercera página*/
#pagina3{
    background-color: rgba(61, 51, 51, 0.712);
    height: 100vh;
    display: flex;
    flex-direction: row;
}
/*Cambiar fuente*/
#pagina3 #muebles,#pagina3 #casa{
    width: 50%;
}
#muebles {
    text-align: center;
    justify-content: center;
}
#muebles #accesorios {
    justify-content: space-around;
    font-size: 30px;
    border-bottom: gray 2px solid;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}
table {
    border-collapse: collapse;
}

td {
    width: 50px; /* Ajusta el ancho según tus necesidades */
    height: 50px; /* Ajusta la altura según tus necesidades */
    border: 1px solid black; /* Añade bordes para mayor claridad */
}
#muebles .paquete{
    margin: 10px;
    background-color: white;
    width: 23%;
    float: left;
}
#muebles .paquete img{
    width: 100%;
}